In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
# import data
df1 = pd.read_csv('C:\McMaster study\Sep 788&789\project\Question_Answer_Dataset_v1.2\S08\question_answer_pairs.txt', sep='\t',encoding = 'ISO-8859-1')
df2 = pd.read_csv('C:\McMaster study\Sep 788&789\project\Question_Answer_Dataset_v1.2\S09\question_answer_pairs.txt', sep='\t',encoding = 'ISO-8859-1')
df3 = pd.read_csv('C:\McMaster study\Sep 788&789\project\Question_Answer_Dataset_v1.2\S10\question_answer_pairs.txt', sep='\t',encoding = 'ISO-8859-1')

In [3]:
df2.tail()

,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
820,Xylophone,What is the earliest historical reference in E...,Arnold Schlick's Spiegel der Orgelmacher und O...,medium,medium,data/set2/a8
821,Xylophone,How are western-style xylophones characterised?,"by a bright, sharp tone and high register",medium,medium,data/set2/a8
822,Xylophone,Can a xylophone be 3 octaves?,yes,hard,hard,data/set2/a8
823,Xylophone,Can a short bar follow a long bar?,no,hard,hard,data/set2/a8
824,Xylophone,Did vibraphones exist in 1930?,yes,hard,hard,data/set2/a8

In [4]:
# combine dataframe
df = df1.append([df2, df3])
df=df.reset_index(drop=True)
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ArticleTitle              3998 non-null   object
 1   Question                  3961 non-null   object
 2   Answer                    3422 non-null   object
 3   DifficultyFromQuestioner  3043 non-null   object
 4   DifficultyFromAnswerer    3418 non-null   object
 5   ArticleFile               3996 non-null   object
dtypes: object(6)
memory usage: 187.5+ KB

,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
3993,Zebra,What areas do the Grevy's Zebras inhabit?,NaN,hard,NaN,data/set1/a9
3994,Zebra,Which species of zebra is known as the common ...,"Plains Zebra (Equus quagga, formerly Equus bur...",hard,medium,data/set1/a9
3995,Zebra,Which species of zebra is known as the common ...,Plains Zebra,hard,medium,data/set1/a9
3996,Zebra,At what age can a zebra breed?,five or six,hard,medium,data/set1/a9
3997,Zebra,At what age can a zebra breed?,5 or 6,hard,hard,data/set1/a9

In [5]:
# remove punctuations in Question and answer
df["Question"] = df['Question'].str.replace(r'[^\w\s]+', '')
df["Answer"] = df['Answer'].str.replace(r'[^\w\s]+', '')

C:\Users\ezhou\AppData\Local\Temp/ipykernel_30944/1859622953.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Question"] = df['Question'].str.replace(r'[^\w\s]+', '')
C:\Users\ezhou\AppData\Local\Temp/ipykernel_30944/1859622953.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Answer"] = df['Answer'].str.replace(r'[^\w\s]+', '')

In [6]:
#change question and answer to lower letter
df['Question']=df['Question'].str.lower()
df['Answer']=df['Answer'].str.lower()

In [7]:
# drop duplicates
df = df.drop_duplicates()
df.shape

(3452, 6)

In [8]:
# repalce entire space in a cell by null
df = df.apply(lambda x: x.str.strip()).replace('', np.nan)

In [9]:
# drop null of question and answer
df = df.dropna(subset=['Question','Answer'])
df=df.reset_index(drop=True)
df.shape

(2955, 6)

In [10]:
# reset dataset in random order
df=df.sample(frac=1).reset_index(drop=True)
df.tail(10)

,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
2945,Berlin,does the gendarmenmarkt border the french cath...,yes the gendarmenmarkt borders the french cath...,easy,medium,data/set3/a1
2946,Violin,does a violin have four strings,yes,easy,easy,data/set2/a2
2947,Amedeo_Avogadro,in fact was avogadro s famous 1811 paper wr...,yes,NaN,easy,data/set4/a8
2948,Ghana,who makes up ghanas parliament,the new patriotic party and national democrati...,hard,hard,data/set2/a5
2949,turtle,what is the smallest suborder of turtles,pleurodira,hard,medium,data/set1/a9
2950,Michael_Faraday,did faraday also discover the laws of electrol...,yes faraday also discovered the laws of elect...,easy,easy,data/set4/a7
2951,Uruguay,how many square kilometres of continental land...,176214 square kilometres,medium,medium,data/set2/a9
2952,Drum,arent drums usually played by the hands,yes,NaN,easy,data/set2/a4
2953,Finland,who is the most popular rock group in finland,cmx,medium,medium,data/set2/a4
2954,John_Adams,what did jefferson call john adams,colossus of independence,medium,medium,data/set3/a1

In [11]:
#split training, validation, test set by 0.7, 0.15, 0.15
n1=round(len(df)*0.7)
n2=round(len(df)*0.15)
train_df=df.iloc[0:n1,:].reset_index(drop=True)
vail_df=df.iloc[n1:n1+n2,:].reset_index(drop=True)
test_df=df.iloc[n1+n2:,:].reset_index(drop=True)

In [12]:
train_df.shape

(2068, 6)

In [13]:
# export cleaned dataset
train_df.to_excel(r"C:\McMaster study\Sep 788&789\project\train_df.xlsx",encoding="utf-8")
vail_df.to_excel(r"C:\McMaster study\Sep 788&789\project\vail_df.xlsx",encoding="utf-8")
test_df.to_excel(r"C:\McMaster study\Sep 788&789\project\test_df.xlsx",encoding="utf-8")